<div class="panel panel-default">
  <div class="panel-heading">Order info</div>
  <div class="panel-body">
    <p> Created at: {{created_at}} </p>
    <p> Closed at: {{closed_at}} </p>
    <p> #items: {{lineItemsCount}} </p>
  </div>
</div>

{{#if model.line_items}}
  <div class="panel panel-default">
    <div class="panel-heading">Order Items</div>
    <div class="panel-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Qty</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.line_items}}
              <tr>
                <td>{{qty}}</td>
                <td>{{title}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
    </div>
  </div>
{{/if}}

{{#if model.suggestions}}
  <div class="panel panel-default">
    <div class="panel-heading">Order Suggestions</div>
    <div class="panel-body">
      {{#each model.suggestions}}
        <div class='well'>
          {{text}}
        </div>
      {{/each}}
    </div>
  </div>
{{/if}}
