{{#if model}}
  <div class='col-sm-8'>
    {{view 'App.OrderProductsView'}}
  </div>
  <div class='col-sm-4'>
    <div class='box row' id='order_line_items'>
      {{render "CurrentOrderLineItems" this.line_items}}
      {{render "CurrentOrderSuggestions" this.suggestions}}
      <button type="button" class="btn btn-default btn-lg btn-block" {{action 'closeOrder'}}>Close Order</button>
  </div>
  </div>
{{else}}
  <div class='col-sm-8 col-sm-offset-2 box jumbotron'>
      <p>There is not current order, create new one</p>
      <button {{action 'createOrder'}} class='btn btn-default'>Create order</button>
      or
      {{#link-to 'orders'}}view previous orders{{/link-to}}
  </div>
{{/if}}
