<td class='qty'>
  {{#if view.onHover}}
    <a href='#'><i class="fa fa-caret-up" {{action 'incrLineItem' this 1}}></i></a>
  {{/if}}
  <span> {{this.qty}} </span>
  {{#if view.onHover}}
    <a href='#'><i class="fa fa-caret-down" {{action 'incrLineItem' this -1}}></i></a>
  {{/if}}
</td>
<td class='img'>
  <img {{bind-attr src='this.product.picture_thumb'}} class="img-responsive" alt="">
</td>
<td class='title'>
  {{this.title}}
</td>
<td class='remove-item'>
  {{#if view.onHover}}
    <a href="#" {{action 'removeLineItem' this}}>
      <i class='glyphicon glyphicon-remove'></i>
    </a>
  {{/if}}
</td>
