<div class='col-sm-10 col-sm-offset-1 box col-lg-6 col-lg-offset-3'>
  {{#if model}}
    {{page}}
    <a {{action 'loadPage' -1}} href='#'>Prev</a>
    <a {{action 'loadPage' 1}} href='#'>Next</a>
    <div class='col-sm-4'>
      <ul class="nav nav-pills nav-stacked">
        {{#each arrangedContent}}
        {{#view App.NavView}}
            {{#link-to 'orders.show' this}}
              <span class="badge pull-right">{{lineItemsCount}}</span>
              {{order_number}}
            {{/link-to}}
         {{/view}}
        {{/each}}
      </ul>
    </div>
    <div class='col-sm-8'>
      <span class='heading'>Closed orders</span>
      {{outlet}}
    </div>
  {{else}}
    <h3>There are no closed orders to show</h3>
  {{/if}}
</div>
