<div class='col-sm-8 col-sm-offset-2 box'>
  <h3>Available products
  {{#link-to 'products.new' class='btn btn-default'}}New product{{/link-to}}
  </h3>
  {{outlet}}
  <section>
  {{#if model}}
    <table class="table table-striped">
      <tr>
        <th></th>
        <th>Title</th>
        <th></th>
      </tr>
      {{#each model}}
        <tr>
          <td><img {{bind-attr src=picture_thumb}}"/></td>
          <td>{{title}}</td>
          <td>
            <div class="dropdown">
              <a href="#" data-toggle="dropdown">
                Actions
                <span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                <li role="presentation">
                  {{#link-to 'product.edit' this}}
                    <i class="fa fa-pencil-square-o"></i>
                    Edit
                  {{/link-to}}
                </li>
                <li role="presentation">
                  <a {{action 'delete' this}} href="#">
                    <i class='glyphicon glyphicon-remove'></i>
                    Delete</a>
                </li>
              </ul>
            </div>
          </td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <p> There are no products, create the first one </p>
  {{/if}}
  </section>
</div>
